* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: greenyellow;
}
#game-container {
  /* border: 2px solid green; */
  margin: 20px auto;
}

#game-panel {
  width: 100%;
  height: 100%;
  display: none;
}

#game-area {
  background-color: #000;
  position: relative;
}
#game-state-info {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
#score {
  display: flex;
  font-size:20px;
   display:inine-block;
   margin-left:40px;
}
#score #score-value {
  margin-left: 10px;
}

#snakeHead {
  background-color: aqua ;
  border-radius:30%;
  position: absolute;
  top: 0;
  left: 0;
  border:1px solid black;
}
.snakeBody {
  background-color: greenyellow;
  border:1px solid black;
  position: absolute;
  top: 0;
  left: 0;
}

#apple {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

#game-over-text {
  position: absolute;
  color: red;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 23;
  opacity: 0;
}

#main-menu {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
